$blue : #040F4F;
$blue-light:#1E96FC;
$color-blue:#78a1d9;
$orange :#F5A11D;
$green:#3CB938;
$green-light: #9BCA3B;
$pink:#FF0054;
$red:#D8373E;
$gray:#B2B2B2;
$gray-light:#F5F5F5;
$gray-dark:#666666;



// $red:#E43F6F;
// $green:#90C73D;
// $blue:blue;
$yellow:yellow;
// $orange:orange;
// $black:black;
