@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/card";
@import "components/collapse-tab";
@import "components/form";
@import "components/gallery";
@import "components/hamkar";
@import "components/rightside";
@import "components/select";

@import "layout/footer";
@import "layout/header";
@import "layout/mobile-menu";



@import "pages/camp";
@import "pages/home";
@import "pages/uni-list";
@import "pages/uni";
