.card1{
    background-color: var(--color-primary-light);
    height: 41rem;
    width: 85%;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-left: 0 !important;
    position: relative;
    right: 50%;
    transform: translate(50%);
    border-radius: 1rem;
    box-shadow: 0 0 5px var(--color-primary);

    @include respond(sm){height: 45rem;}

    &__header{
        height: 23rem;
        position: relative;
        border-radius: 1rem;

        h1{
            padding: 1.8rem 0;
            width: 100%;
            font-size: 2.2rem !important;
            background-color: var(--color-primary);
            border-radius: 1rem;
            color: white !important;
            text-align: center;
            margin: 0 !important;
            transition: all .3s ease;
            z-index: 3;
        }
    }

    &__triangle{
        height: 3rem;
        width: 7rem;
        background-color: var(--color-secondary);
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -200%);
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
        z-index: -1;
        transition: all .3s ease;
    }

    &__img{
        height: 20rem;
        width: 20rem;
        border-radius: 100%;
        background-color: white;
        position: absolute;
        right: 50%;
        top: -110%;
        transform: translate(50%, 100%);

        img{
            height: 18rem;
            width: 18rem;
            @include centerABS();
        }
    }

    &__list{
        // list-style-type: none;
        margin-top: 1rem;
        height: 15.5rem;
        direction: ltr;
        overflow-y: scroll;

        @include respond(sm){height: 20rem;}

        &::-webkit-scrollbar-track{
            border-radius: 10px;
            position: absolute;
        }
    
        &::-webkit-scrollbar{
            width: 8px;
        }
    
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: var(--color-primary);
        }
    }

    a,a:link,a:visited{
        padding: 1.5rem 0;
        width: 100%;
        text-align: center !important;
        color: var(--color-primary-dark);

        &:not(:last-of-type){
            border-bottom: 1px solid var(--color-primary);
        }
    }
    
}

.active-card{
    h1{
        background-color: var(--color-secondary);
    }

    .cards__triangle{
        transform: translate(-50%,-90%) !important;
        z-index: 1;
    }
}

.bg-img1{
    background-image: url(../../assets/img/Shape5.png);
}
.bg-img2{
    background-image: url(../../assets/img/Shape6.png);
}
.bg-img3{
    background-image: url(../../assets/img/Shape7.png);
}
.bg-img4{
    background-image: url(../../assets/img/Shape8.png);
}

.card2{

    &__circle{
        height: 6rem;
        width: 6rem !important;
        border-radius: 100%;
        background-color: var(--color-secondary);
    }

    h1{
        margin: 1.5rem 0;
        font-size: 2.6rem;
        font-weight: 700;
        color: var(--color-primary-dark);

        @include respond(md){font-size: 2.4rem;}
    }
    
    p{
        font-size: 1.5rem;
        color: var(--color-primary-dark);
        text-align: justify;

        @include respond(sm){
            line-height: 5rem;
            font-size: 2rem;
        }
    }

    a{
        color: var(--color-primary);
        font-size: 1.6rem;
        float: left;

        @include respond(sm){font-size: 2rem;}
    }
}