form{
    padding: 1.5rem 0;
    margin-top: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary-light);

    


    button{
        width: 14rem !important;
        height: 4.2rem;
        border-radius: 3rem;
        font-size: 1.6rem;
        // margin-top: 2rem;
        background-color: var(--color-secondary);
        border: none;
        color: white;
        box-shadow: 0 0 0 2px white,
                    0 0 0 4px var(--color-secondary);

        @include respond(sm){
            height: 5.2rem;
            font-size: 2rem;
            margin-top: 3rem !important;
        }
    }
}