.hamkar{
    height: 26.5rem;
    margin-left: 8px;
    margin-top: 3rem;

    div{
        width: 19rem;
        // background-color: rebeccapurple;
        position: relative;
        margin: 0 auto;
        cursor: pointer;

        &:hover{
    
            section{
                height: 100%;
            }
    
            h3{
                color: var(--color-secondary);
                margin-top: 3rem;
            }
    
            i{
                font-size: 4rem;
                color: var(--color-secondary);
                top: 70%;
                left: 20%;
            }
    
            p{
                height: auto;
            }
    
            span{
                top: 92%;
            }
        }
    }

    img{
        width: 100%;
        height: 26rem;
        border-radius: 1rem;
    }

    i{
        position: absolute;
        font-size: 5rem;
        color: rgba($color: #eeeeee, $alpha: .8);
        @include centerABS();
        transition: all .5s ease;
    }

    section{
        position: absolute;
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 1rem;
        top: 100%;
        transform: translateY(-100%);
        padding: 5px 2rem !important;
        color: white;
        transition: all .5s ease;
    }

    h3{
        margin-bottom: 5px !important;
    }

    p{
        height: 0;
        overflow: hidden;
        color: white !important;
        transition: all .5s ease;
        line-height: 2.5rem !important;
    }

    span{
        position: fixed;
        top: 60%;
        font-size: 1.2rem;
    }
}