.hamkar{
    height: 29rem;
    // margin-left: 8px;
    margin-top: 3rem;

    div.lg{
        width: 95%;
    }
    div.sm{
        width: 22rem;
    }

    .camp{
        text-align: center !important;

        h3{font-size: 2.4rem;}

        p{font-size: 1.8rem !important;}

        &:hover{
            h3{color: white !important;}
        }
    }

    div{
        // width: 19rem;
        width: 97%;
        position: relative;
        margin: 0 auto;
        cursor: pointer;

        &:hover{
    
            section{
                height: 100%;
                background-color: rgba($color: #3D3D3D, $alpha: .7);
            }
    
            h3{
                color: var(--color-secondary);
                margin-top: 1rem;
            }
    
            i{
                font-size: 4rem;
                color: var(--color-secondary);
                top: 70%;
                left: 20%;
            }
    
            p{
                height: auto;
                font-size: 1.4rem;
            }
    
            span{
                top: 92%;
            }

            button{
                display: block;
            }
        }
    }

    img{
        width: 100%;
        height: 29rem;
        border-radius: 1rem;
    }

    i{
        position: absolute;
        font-size: 5rem;
        color: rgba($color: #eeeeee, $alpha: .8);
        @include centerABS();
        transition: all .5s ease;
    }

    section{
        position: absolute;
        width: 100%;
        height: 6.5rem;
        background-color: var(--color-primary);
        border-radius: 1rem;
        top: 100%;
        transform: translateY(-100%);
        padding: 5px 2rem !important;
        color: white;
        transition: all .5s ease;
    }

    h3{
        margin-bottom: 5px !important;
    }

    p{
        height: 0;
        overflow: hidden;
        color: white !important;
        transition: all .5s ease;
        line-height: 2.5rem !important;
    }

    span{
        position: fixed;
        top: 60%;
        font-size: 1.2rem;
    }
    
    button{
        height: 3.5rem;
        width: 12rem;
        font-size: 1.5rem;
        border-radius: 3rem;
        border: none;
        background-color: var(--color-secondary);
        color: white;
        display: none;
        float: left;
    }
}