*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    direction: rtl;

    
    // @include respond(tab-port){ font-size: 50%; }

    // @include respond(sm){ font-size: 45%; }
    
    @include respond(phone){ font-size: 50%; }
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

a,a:link,a:visited{
    text-decoration: none !important;
}

button{
    cursor: pointer;
    outline: none !important;
}

.owl-nav{

    @include respond(lg){
        display:block !important;
    }
}

.owl-prev{
    color:var(--color-secondary) !important;
    text-align: center;
    padding:1rem;
    position: absolute;
    right: -2%;
    top: 45%;
    transform: translate(-0%, 45%);
    border-radius: 50%;
    & span{
        font-size: 5rem;
    
        @include respond(phone-port){font-size: 7rem;}
    }
}
.owl-next{
    color:var(--color-secondary) !important;
    text-align: center;
    padding:1rem;
    position: absolute;
    left: -2%;
    top: 45%;
    transform: translate(-0%, 45%);
    border-radius: 50%;
    & span{
        font-size: 5rem; 
    
        @include respond(phone-port){font-size: 7rem;}
    }
}
