*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  direction: rtl; }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

a, a:link, a:visited {
  text-decoration: none !important; }

button {
  cursor: pointer;
  outline: none !important; }

@media only screen and (max-width: 75em) {
  .owl-nav {
    display: block !important; } }

.owl-prev {
  color: var(--color-secondary) !important;
  text-align: center;
  padding: 1rem;
  position: absolute;
  right: -2%;
  top: 45%;
  transform: translate(0%, 45%);
  border-radius: 50%; }
  .owl-prev span {
    font-size: 5rem; }

.owl-next {
  color: var(--color-secondary) !important;
  text-align: center;
  padding: 1rem;
  position: absolute;
  left: -2%;
  top: 45%;
  transform: translate(0%, 45%);
  border-radius: 50%; }
  .owl-next span {
    font-size: 5rem; }

@font-face {
  font-family: Vazir;
  src: url("Vazir.eot");
  src: url("Vazir.eot?#iefix") format("embedded-opentype"), url("Vazir.woff") format("woff"), url("Vazir.ttf") format("truetype");
  font-weight: normal; }

body {
  font-family: Vazir !important; }

.heading {
  width: 90%;
  border-bottom: 2px solid var(--color-primary);
  margin-bottom: 3rem; }
  .heading h3 {
    font-size: 2.8rem !important;
    background-color: white;
    margin-bottom: -1.5rem; }
    .heading h3::before {
      content: "";
      width: 2rem;
      padding: 0 6px;
      font-size: 8px;
      border-radius: 100%;
      background-color: var(--color-secondary);
      margin-left: 3rem; }
    .heading h3::after {
      content: "";
      width: 2rem;
      padding: 0 6px;
      font-size: 8px;
      border-radius: 100%;
      background-color: var(--color-secondary);
      margin-right: 3rem; }

.bg-blue {
  background-color: var(--blue-dark); }

.bg-green {
  background-color: var(--green); }

.bg-yellow {
  background-color: var(--yellow); }

.bg-red {
  background-color: var(--color-secondary); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.card1 {
  background-color: var(--color-primary-light);
  height: 41rem;
  width: 85%;
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 0 !important;
  position: relative;
  right: 50%;
  transform: translate(50%);
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--color-primary); }
  @media only screen and (max-width: 48em) {
    .card1 {
      height: 45rem; } }
  .card1__header {
    height: 23rem;
    position: relative;
    border-radius: 1rem; }
    .card1__header h1 {
      padding: 1.8rem 0;
      width: 100%;
      font-size: 2.2rem !important;
      background-color: var(--color-primary);
      border-radius: 1rem;
      color: white !important;
      text-align: center;
      margin: 0 !important;
      transition: all .3s ease;
      z-index: 3; }
  .card1__triangle {
    height: 3rem;
    width: 7rem;
    background-color: var(--color-secondary);
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -200%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: -1;
    transition: all .3s ease; }
  .card1__img {
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    right: 50%;
    top: -110%;
    transform: translate(50%, 100%); }
    .card1__img img {
      height: 18rem;
      width: 18rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .card1__list {
    margin-top: 1rem;
    height: 15.5rem;
    direction: ltr;
    overflow-y: scroll; }
    @media only screen and (max-width: 48em) {
      .card1__list {
        height: 20rem; } }
    .card1__list::-webkit-scrollbar-track {
      border-radius: 10px;
      position: absolute; }
    .card1__list::-webkit-scrollbar {
      width: 8px; }
    .card1__list::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--color-primary); }
  .card1 a, .card1 a:link, .card1 a:visited {
    padding: 1.5rem 0;
    width: 100%;
    text-align: center !important;
    color: var(--color-primary-dark); }
    .card1 a:not(:last-of-type), .card1 a:link:not(:last-of-type), .card1 a:visited:not(:last-of-type) {
      border-bottom: 1px solid var(--color-primary); }

.active-card h1 {
  background-color: var(--color-secondary); }

.active-card .cards__triangle {
  transform: translate(-50%, -90%) !important;
  z-index: 1; }

.bg-img1 {
  background-image: url(../../assets/img/Shape5.png); }

.bg-img2 {
  background-image: url(../../assets/img/Shape6.png); }

.bg-img3 {
  background-image: url(../../assets/img/Shape7.png); }

.bg-img4 {
  background-image: url(../../assets/img/Shape8.png); }

.card2__circle {
  height: 6rem;
  width: 6rem !important;
  border-radius: 100%;
  background-color: var(--color-secondary); }

.card2 h1 {
  margin: 1.5rem 0;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--color-primary-dark); }
  @media only screen and (max-width: 61.93em) {
    .card2 h1 {
      font-size: 2.4rem; } }

.card2 p {
  font-size: 1.5rem;
  color: var(--color-primary-dark);
  text-align: justify; }
  @media only screen and (max-width: 48em) {
    .card2 p {
      line-height: 5rem;
      font-size: 2rem; } }

.card2 a {
  color: var(--color-primary);
  font-size: 1.6rem;
  float: left; }
  @media only screen and (max-width: 48em) {
    .card2 a {
      font-size: 2rem; } }

.collapse-tab {
  margin-top: 1.5rem; }
  .collapse-tab__tab {
    border: 2px solid var(--color-border);
    height: 5.5rem;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 2.8rem;
    color: var(--color-secondary); }
    .collapse-tab__tab button {
      height: 5.7rem;
      padding: 6px 4rem;
      font-size: 2.8rem;
      border: none;
      background-color: var(--color-secondary);
      color: white;
      margin-left: 2rem; }
  .collapse-tab__content {
    display: none;
    height: 15rem; }

form {
  padding: 1.5rem 0;
  margin-top: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-light); }
  form button {
    width: 14rem !important;
    height: 4.2rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    background-color: var(--color-secondary);
    border: none;
    color: white;
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-secondary); }
    @media only screen and (max-width: 48em) {
      form button {
        height: 5.2rem;
        font-size: 2rem;
        margin-top: 3rem !important; } }

.gallery__item div {
  width: 100% !important;
  position: relative;
  margin: 0 auto;
  cursor: pointer; }
  .gallery__item div:hover section {
    height: 100%; }
  .gallery__item div:hover h3 {
    color: var(--color-secondary);
    margin-top: 3rem; }
  .gallery__item div:hover i {
    font-size: 4rem;
    color: var(--color-secondary);
    top: 70%;
    left: 20%; }
  .gallery__item div:hover p {
    height: auto; }
  .gallery__item div:hover span {
    top: 92%; }

.gallery__item img {
  width: 100%;
  height: 35rem !important;
  border-radius: 1rem; }

.gallery__item i {
  position: absolute;
  font-size: 5rem;
  color: rgba(238, 238, 238, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease; }

.gallery__item section {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  top: 100%;
  transform: translateY(-100%);
  padding: 5px 2rem !important;
  color: white;
  transition: all .5s ease; }

.gallery__item h3 {
  margin-bottom: 5px !important; }

.gallery__item p {
  height: 0;
  overflow: hidden;
  color: white !important;
  transition: all .5s ease;
  line-height: 2.5rem !important; }

.gallery__item span {
  position: fixed;
  top: 60%;
  font-size: 1.2rem; }

.gallery img {
  height: 17rem;
  border-radius: 1rem;
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0 0 5px var(--color-primary); }

.hamkar {
  height: 26.5rem;
  margin-left: 8px;
  margin-top: 3rem; }
  .hamkar div {
    width: 19rem;
    position: relative;
    margin: 0 auto;
    cursor: pointer; }
    .hamkar div:hover section {
      height: 100%; }
    .hamkar div:hover h3 {
      color: var(--color-secondary);
      margin-top: 3rem; }
    .hamkar div:hover i {
      font-size: 4rem;
      color: var(--color-secondary);
      top: 70%;
      left: 20%; }
    .hamkar div:hover p {
      height: auto; }
    .hamkar div:hover span {
      top: 92%; }
  .hamkar img {
    width: 100%;
    height: 26rem;
    border-radius: 1rem; }
  .hamkar i {
    position: absolute;
    font-size: 5rem;
    color: rgba(238, 238, 238, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease; }
  .hamkar section {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    top: 100%;
    transform: translateY(-100%);
    padding: 5px 2rem !important;
    color: white;
    transition: all .5s ease; }
  .hamkar h3 {
    margin-bottom: 5px !important; }
  .hamkar p {
    height: 0;
    overflow: hidden;
    color: white !important;
    transition: all .5s ease;
    line-height: 2.5rem !important; }
  .hamkar span {
    position: fixed;
    top: 60%;
    font-size: 1.2rem; }

.rightside {
  position: fixed;
  right: 1%;
  z-index: 99; }
  .rightside a, .rightside a:link, .rightside a:visited {
    text-decoration: none;
    color: var(--color-primary-dark);
    font-size: 1.3rem;
    background-color: var(--color-primary-light);
    margin-top: 3px;
    padding: 7px 7px;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    text-align: center;
    transition: all .3s ease; }
    .rightside a:hover, .rightside a:link:hover, .rightside a:visited:hover {
      border: 1px solid var(--color-secondary) !important;
      box-shadow: 0 0 2px var(--color-secondary); }
  .rightside i {
    color: var(--color-secondary);
    margin-left: 1rem;
    font-size: 1.5rem; }
  .rightside img {
    height: 2rem; }

.select2 {
  height: 4.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  margin-top: 8px; }
  @media only screen and (max-width: 48em) {
    .select2 {
      height: 5.5rem;
      font-size: 2rem;
      margin-top: 1rem; } }

.header {
  font-size: 1.6rem; }
  @media only screen and (max-width: 75em) {
    .header {
      font-size: 1.3rem; } }
  .header section {
    height: 5rem;
    background-color: var(--color-primary-dark); }
  .header i {
    font-size: 1.7rem;
    margin-right: 1rem;
    border-radius: 1.1rem;
    width: 2.9rem;
    height: 3rem;
    text-align: center;
    background-color: var(--color-primary-light);
    color: black; }
  .header span {
    font-size: 1.8rem;
    color: var(--color-primary-light); }
  .header__nav {
    width: 100% !important;
    height: 8rem;
    background-color: var(--color-primary-light);
    box-shadow: 0 2px 15px var(--color-primary); }
  .header a {
    margin-right: 1.5rem;
    color: var(--color-primary-dark); }
  .header__user {
    padding: 1px 1rem;
    border-right: 1px solid var(--color-primary);
    border-left: 1px solid var(--color-primary); }
    .header__user i {
      font-size: 2.5rem;
      margin: 0 5px;
      color: var(--color-primary-dark); }

.footer {
  background-color: var(--color-primary-dark);
  font-size: 1.8rem;
  color: var(--color-primary-light);
  min-height: 45rem; }
  @media only screen and (max-width: 48em) {
    .footer {
      font-size: 2rem; } }
  .footer__main {
    min-height: 45rem; }
  .footer ul {
    list-style-type: none; }
  .footer li {
    margin-top: 1rem; }
  .footer a, .footer a:link, .footer a:visited {
    text-decoration: none;
    color: var(--color-primary-light); }
  .footer i {
    font-size: 1.7rem;
    margin-right: 1rem;
    border-radius: 1.1rem;
    width: 2.7rem;
    text-align: center;
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    padding: 5px 0; }
  .footer span {
    margin-top: 1rem;
    text-align: center; }
    .footer span i {
      background-color: var(--color-secondary);
      margin-left: 1rem; }
  .footer__logo {
    position: absolute;
    left: 0%; }
  .footer__map {
    height: 13rem; }

.home section {
  padding: 2rem 5px;
  border-bottom: 2px solid var(--color-primary); }

.home p {
  font-size: 1.5rem;
  color: var(--color-primary-dark);
  text-align: justify; }
  @media only screen and (max-width: 48em) {
    .home p {
      line-height: 5rem;
      font-size: 2rem; } }

.home a {
  color: var(--color-primary);
  font-size: 1.6rem; }
  @media only screen and (max-width: 48em) {
    .home a {
      font-size: 2rem; } }

.home i {
  margin-right: 5px; }

.uni .card2 h1 {
  font-size: 3rem; }

.uni .card2 p {
  font-size: 2rem; }

.uni .heading {
  width: 100%; }
